{{ define "main" }}

<section class="page-404">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="index.html">
          <img src="images/logo.png" alt="site logo" />
        </a>
        <h1>404</h1>
        <h2>Página não Encontrada</h2>
        <a href="index.html" class="btn btn-main"><i class="tf-ion-android-arrow-back"></i> Página Inicial</a>
        <p class="copyright-text">© 2021 <a href="https://evolvecafe.me/" target="_blank">Evolve</a>todos os direitos reservados.
        
        </p>
      </div>
    </div>
  </div>
</section>

{{ end }}